@import "../../styles/index.scss";

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: fit-content;

  &>label {
    text-align: left;
    @include RubberSize(font-size, 16, 12, 12);
    line-height: 120%;
    color: $blue_medium;

    @include vp_991 {
      line-height: 140%;
    }

    @include min_vp_575 {
      @include RubberSize(font-size, 16, 12, 4);
    }
  }
}

.select__input {
  & input {
    height: 5rem !important;
  }

  cursor: pointer;

  &::after {
    content: url('../../assets/svg/chevron-down.svg');
    display: block;
    width: 19px;
    height: 19px;
    pointer-events: none;
    top: calc(50% - 19px / 2);
    right: 16px;
    position: absolute;
  }
}

.select__input--open {
  &::after {
    transform: rotate(180deg);
  }
}

.select__options {
  border-radius: 4px;
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 0;
  z-index: 10;
  // pointer-events: none;
  overflow: hidden;
  transition: all $transition;
  margin-top: 1rem;
}

.select__options--active {
  max-height: max-content;
}

.select__list {
  background-color: $white;
  border-radius: 4px;
  padding: 0.8rem;
  border: 1px solid $dark_disabled;
  max-height: 170px;
  overflow-y: auto;
}

.select__option {
  padding: 0.8rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  list-style: none;
  transition: background-color $transition;

  &:hover {
    background-color: $blue_light;
  }

  &::before {
    content: url('../../assets/svg/dropdown-check.svg');
    display: block;
    width: 22px;
    height: 22px;
    opacity: 0;
    pointer-events: none;
  }

  &>span {
    @include RubberSize(font-size, 16, 14, 14);
    line-height: 120%;
    color: $blue;
    // white-space: nowrap;

    // @include tablet {
    //   line-height: 140%;
    // }

    // @include min_mobile {
    //   @include RubberSize(font-size, 16, 14, 8);
    // }
  }

  &._selected {
    background-color: $blue_semi_light;

    &::before {
      opacity: 1;
    }

    &>span {
      color: $blue;
    }
  }
}

.select__option--active {
  background-color: $blue_semi_light;

  &::before {
    opacity: 1;
  }

  &>span {
    color: $blue;
  }
}