@import '../../styles/vars.scss';
@import '../../styles/index.scss';
.checkbox{
    display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	gap: .8rem;
	width: fit-content;
	cursor: pointer;

	&_white {
		.checkbox__label {
			color: $blue_semi_light;
            text-align: left;

			a {
				@include HoverLink($blue_semi_light, $gold, $blue_semi_light);
				text-decoration-line: underline;
				text-decoration-skip-ink: none;
			}
		}
	}

	&_blue {
		.checkbox__label {
			color: $blue;

			a {
				@include HoverLink($blue, $gold, $blue_semi_light);
				text-decoration-line: underline;
				text-decoration-skip-ink: none;
			}
		}
	}

	input[type=checkbox] {
		position: absolute;
		left: -10000px;
	}
	
	& ~ .pristine-error {
		display: none;
	}

	.custom_checkbox {
		min-width: 18px;
		height: 18px;
		background-color: $white;
		border: none;
		border-radius: 3px;
		transition: all $transition;
		position: relative;
		pointer-events: none;

		&:hover {
			cursor: pointer;
		}
	}
	

	input[type=checkbox]:checked~.custom_checkbox {

		&::before {
			content: url(../../assets/svg/check.svg);
			box-sizing: border-box;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 18px;
			height: 18px;

			background-color: transparent;

			z-index: 1;
		}
	}
	

	&__label {
		@include Manrope_regular;
		@include RubberSize(font-size, 14, 12, 12);
		line-height: 140%;

		&:hover {
			cursor: pointer;
		}

		a {
			position: relative;
		}
	}

	
}

.has-danger .custom_checkbox {
	box-shadow: 0px 0px 4px 0px #F00 inset;
}