@import '../../styles/mixins.scss';
@import '../../styles/index.scss';

.liveRequestRegistration {
    @include RubberSize(padding-left, 150, 120, 24);
    @include RubberSize(padding-right, 150, 120, 24);
    @include RubberSize(margin-top, 60, 54, 48);


}

.liveRequestRegistration__title {
    margin-bottom: 1.6rem;
}

.liveRequestRegistration__button {
    @include RubberSize(margin-top, 50, 32, 32);
}

.forgot {
    margin-top: 0.8rem;
    text-align: left;
    color: $blue;
    display: block;
    width: fit-content;
    @include BorderLink($blue, $gold, $blue);
    font-size: 1.4rem;
    text-decoration: underline;
    transition: text-decoration 6s ease-in-out;
    text-underline-offset: 5px;

}

.inputs__list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.liveRequestRegistration__text {
    color: $blue;
    margin-top: 3.2rem;
    margin-bottom: 4rem;
    font-size: 1.4rem;
}
.liveRequestRegistration__description{
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
    @include Manrope_regular;
}

.liveRequestRegistration__link {
    color: $blue;
    font-weight: 700;
    transition: color $transition;
    text-underline-offset: 5px;
    text-decoration: underline;
    @include BorderLink($blue, $gold, $blue);
}
.liveRequestRegistration__checkbox{
    margin-top: 1.6rem;
}