@import '../../styles/mixins.scss';
@import '../../styles/index.scss';

.passwordRecovery {
    @include RubberSize(padding-left, 150, 120, 24);
    @include RubberSize(padding-right, 150, 120, 24);
    width: 90%;
    @include RubberSize(margin-top, 203, 120, 48);

    @include vp_768 {
        width: 100%;
    }
}

.passwordRecovery__title {
    margin-bottom: 1.6rem;
}

.passwordRecovery__button {
    @include RubberSize(margin-top, 50, 32, 32);
}

.passwordRecovery__description{
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
    @include Manrope_regular;
}

.inputs__list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.passwordRecovery__text {
    color: $blue;
    margin-top: 1.6rem;
    font-size: 1.4rem;
}

.passwordRecovery__link {
    color: $blue;
    font-weight: 700;
    transition: color $transition;
    text-underline-offset: 5px;
    text-decoration: underline;
    @include BorderLink($blue, $gold, $blue);

}