@import '../../styles/vars.scss';
@import "../../styles/fonts.scss";
@import "../../styles/breakpoints.scss";

.blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.blocks__item {
  background-color: $white24;
  // opacity: .24;
  border-radius: 12px;
  padding: 8.9rem 3.6rem;
  text-align: left;
  gap: 3.2rem;
  display: flex;
  flex-direction: column;

  @include vp_1800 {
    padding: 6.9rem 3rem;
    gap: 2.2rem;
  }
  @include vp_1280 {
    padding: 5.9rem 2.6rem;
    gap: 1.2rem;
  }
}

.item__content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  @include vp_1800 {
    gap: 1rem;
  }
}


.item__icon {
  height: 4rem;
  object-fit: contain;
  object-position: left;
}

.item__title {
  color: $white;
  @include Manrope_regular;
  font-size: 2.4rem;
}

.item__description {
  color: $white;
  @include Manrope_regular;
  font-size: 1.6rem;

}