@import '../../styles/index.scss';

.menuList {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-top: 4rem;

    &--open {
        .menuList__item {
            justify-content: unset;

            &::after {
                content: '';
            }
        }

        .menuList__item-name {
            opacity: 1;
            max-width: fit-content;
        }

    }
}

.menuList__container--open {
    .menu__logout-text {
        opacity: 1;
    }
}

.menuList__item {
    // overflow: hidden;
    // justify-content: center;
    display: flex;
    color: $white;
    cursor: pointer;
    align-items: center;
    gap: 1.2rem;
    border-bottom: 1px solid $white10;
    padding-bottom: 1.6rem;
    // margin-bottom: 1.6rem;
    position: relative;
    height: 4.8rem;



    &:hover {
        .menuList__item-icon {
            color: $white;
        }

        .menuList__item-name {
            color: $white;
        }
    }

    &-active {
        &::after {
            position: absolute;
            right: calc(100% - -2.5rem);
            top: 0;
            content: none;
            width: 1.5rem;
            height: 100%;
            border-radius: 0 4px 4px 0;
            background-color: $gold;
        }

        .menuList__item-icon {
            color: $gold;
        }

        .menuList__item-name {
            color: $gold;
        }
    }
}

.menuList__item-icon {
    color: $gray;
}

.menuList__item-name {
    transition: opacity 1s ease-in-out;
    opacity: 0;
    // max-width: 0;
    overflow: hidden;
    @include Manrope_bold;
    color: $gray;
    font-size: 1.6rem;
    white-space: nowrap;
}

.menu__logout-icon {
    color: $white;
}

.menu__logout-text {
    display: block;

    color: $white;
    @include Manrope_semibold;
    font-size: 1.4rem;
    transition: opacity 0.5s ease-in-out;
    width: auto;
    opacity: 0;
}

.menu__logout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    position: fixed;
    bottom: 4rem;
    cursor: pointer;
    // opacity: 0;

    &:hover {
        .menu__logout-icon {
            color: $gold;
        }

        .menu__logout-text {
            color: $gold;
        }
    }
}