@import '../../styles/index.scss';

.objectCard {
    height: 50rem;
    background-size: cover;
    border-radius: 1.2rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-position: center;
    @include vp_991{
        height: 39rem;
    }
}

.objectCard__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.objectCard__header {}

.objectCard__sale {
    @include Manrope_regular;
    font-size: 1.6rem;
    padding: .8rem 1.6rem;
    color: $white;
    border-radius: .4rem;
    width: fit-content;
    position: relative;
    backdrop-filter: blur(10px);
}

.objectCard__title {
    @include Manrope_semibold;
    color: $white;
    text-align: left;
}

.objectCard__text {
    @include Manrope_regular;
    @include RubberSize(font-size, 24, 14, 14);
    color: $white;
    text-align: left;
}

.objectCard__address {
    display: flex;
    gap: 2.4rem;

    @include vp_768 {
        flex-direction: column;
        gap: 1.2rem;
    }
}

.objectCard__common-info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.objectCard__price {
    color: $white;
    @include Manrope_semibold;
    @include RubberSize(font-size, 32, 24, 24);
}

.objectCard__info {
    display: flex;
    justify-content: space-between;

    @include vp_1280 {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
    }
}

.objectCard__button {
    @include vp_1280 {
        min-width: 100%
    }
}

.streetX__icon {
    color: $blue_light;
}

.streetY__icon {
    color: $blue_semi_light;
}

.streetX__text,
.streetY__text {
    color: $white;
    font-size: 1.6rem;
}

.streetX,
.streetY {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}