@import '../../styles/index.scss';

.personManager {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem;
    background-color: $white;
    border-radius: 1.2rem;

    @include vp_1024 {
        padding: 2rem;
    }
}

.personManager__title {
    color: $blue;
    text-align: left;
}

.personManager__content {
    display: flex;
    gap: 2.4rem;
}

.personManager__name {
    @include Manrope_regular;
    color: $blue;
    @include RubberSize(font-size, 32, 22, 22);
    text-align: left;
}

.personManager__photo {
    width: 8.6rem;
    height: 8.6rem;
    object-fit: cover;
    border-radius: 0.4rem;

    @include vp_768 {
        display: none;
    }
}

.personManager__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.personManager__contacts {
    display: flex;
    gap: 2rem;

    @include vp_768 {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
    }

}

.personManager__phone,
.personManager__email {
    @include BorderLink($blue, $gold, $blue);
    @include Manrope_semibold;
    font-size: 2.4rem;
    color: $blue;
}

.personManager__logo {
    height: 4.378rem;
}