$blue: #283851;
$blue_medium: #6B7484;
$blue_semi_light: #C5CFDD;
$blue_light: #ECEFF3;
$blue50: #28385180;
$black: #333333;
$black-v2: #323232;
$black-v3: #2D2D2D;


$gold: #B9906A;
$gold_semi_light: #F2DBC6;
$gold24: #B9906A3D;

$gray_dark: #303030;
$white: #ffffff;
$white10: #FFFFFF1A;
$white20: #FFFFFF33;
$white24: #FFFFFF3D;
$white30: #FFFFFF4D;
$white50: #FFFFFF80;
$gray: #939BA8;
$gray_bg: #a6a6a6;
$gray_border: #4E5F7B;
$gray_icon: #2838513D;



$error: #B30000;

$dark_disabled: rgba(39, 41, 55, 0.12);
$rgba10: rgba(13, 36, 72, 0.10);
$rgba20: rgba(255, 255, 255, 0.20);
$rgba_dark20: rgba(40, 56, 81, 0.20);


$transition: .35s ease-out;